# Ignore the real testconf.json
testconf.json

# Ignore the arc demo's data folder:
arc-geoprocessing-example/data

# Python packaging artifacts:
geoiq.egg-info
build
dist
*.egg

# Temp/scratch
scratch

# Compiled python
*.pyc


# Emacs stuff:
*~
.#*
*#